         body{
            background: url('background.jpg') 100%;
         }
        #style{
           width:500px;
           height: 500px;
           border:px solid black;
           border-radius: 10px;
           margin:auto;
           padding: 10px;
           margin-top: 5%;
           background: #E8EFFC; 
         }

         #style > input[type="text"],
         #style > input[type="password"],
         #style > input[type="date"]{
            float:left;
            width:500px;
            padding: 10px;
            margin-top:4px;
            margin-bottom: 2px;
            border: 1px solid blue;
            background-color: darkgray;
            transition: 50ms border;
            background: #fbfbfb;
            border-radius: 1px;
         }
            

         #style > input[type="submit"]{
             float:left;
           width:250px;
           padding: 10px;
           margin-top:2px;
           margin-bottom: 5px;
             margin-left: 125px;
           margin-right: 125px;
            background: #008ec2;
            color:  #E8EFFC;
            font-size: 30px;
            height: 50px;
            margin-top: 10px;
            padding: 0;
            border-width: 3px;
            border-style: solid;
            border-radius: 5px;
            box-sizing: border-box;            
         }
         #style > input[type="reset"]{
             float:left;
            width:250px;
            padding: 10px;
            margin-top:2px;
            margin-bottom: 5px;
            margin-left: 125px;
           margin-right: 125px;
            background: #008ec2;
            color:  #E8EFFC;
            font-size: 30px;
            height: 50px;
            margin-top: 10px;
            padding: 0;
            border-width: 3px;
            border-style: solid;
            border-radius: 5px;
            box-sizing: border-box;            
         }